.git
.github
.env
.env.*

node_modules
web/node_modules
web/dist

config
dumped-configs
storage
runtime
.runtime-backups

tmp
.cache
.npm
coverage
bin
*.test
*.log

package-lock.json
!web/package-lock.json

vendor
.idea
.vscode
*.iml
.DS_Store
