COMPOSE_PROJECT_NAME="iplist"
HTTP_PORT="8080"
DEBUG="true"
IPLIST_DNS_REFRESH_ENABLED="true"
IPLIST_DNS_REFRESH_CRON="0 */12 * * *"
IPLIST_DNS_REFRESH_TIMEZONE="UTC"
IPLIST_DNS_REFRESH_TIMEOUT="4s"
IPLIST_DNS_REFRESH_CONCURRENCY="8"
